.body
{
  background-color: #EAD390;
}

header
{
  text-align: center;
  margin-bottom: 20px;
}

#intro
{
  background-color: red;
}

h4
{
  text-align: center;
}

#connexion
{
  background-color: #1FD682;
  border-radius: 20px;
  border: solid white;
  margin-left: 5px;
}

#newask
{
  background-color: #7ACAD1;
  border-radius: 20px;
  border: solid white;
  margin-right: 5px;
}