.body
{
  background-color: #EAD390;
}

header
{
  text-align: center;
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top:5px;
  padding-bottom: 10px;
  background-color: #213F41;
  box-shadow: 5px 5px;
}

h4
{
  text-align: center;
}

#connexion
{
  background-color: #1FD682;
  border-radius: 20px;
  border: solid white;
  margin-left: 5px;
}

#newask
{
  background-color: #7ACAD1;
  border-radius: 20px;
  border: solid white;
  margin-right: 5px;
}