{% extends '::base.html.twig' %}

{% block title %}
    Connexion OK
{% endblock %}

{% block body -%}

    <div classe="container">

        <div classe="row">

            <header class="col-md-12">
                <h2>CONNEXION OK</h2>
            </header>

        </div>
    </div>

{% endblock %}