{% extends '::base.html.twig' %}

{% block body -%}
		<H1>Communauté de Communes Des Portes Du Perche</h1>
	<p>Transport Scolaire - Année 2014/2015</p>
	<P>Questionnaire à compléter à le plus rapidement possible</P>
		<h2>Belhomert/St Maurice/St Germain</h2>





		<H2>RPI CHAMPROND/MONTIREAU/MONTLANDON/SAINT-VICTOR</H2>
	
	<p>( pour délivrance d'un titre de transport obligatoire</p>
<select name='circuit2'>
	<option value='RPI CHAMPROND/SAINT-VICTOR'>
		
	</option>
	
</select>
{% endblock %}